.card{
    
  /*  position: absolute;
    top: 200px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
 
}
.card .button{
    border:none;
 background-color: none;

  
}
.card-inner{
    position: relative;
}
.btn-card{
    padding: 2px 10PX;
}
.Card-item{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin:10px;
    height: 300px;
    width: 200px;
    transition: transform 450ms;
    display: flex;
  align-items: center;
    flex-direction: column; 
  
}
.Card-item .text{
    font-size: large;
    margin-top: 15px;
}
.Card-item:hover {
    transform:scale(1.08);
}
.Card-item img{
margin: 0;
    height: 200px;
    width: 200px; 
}
.delete-icon{
    background-color: transparent;
    border: none;
    font-size: large;
    position: absolute;
    top:0;
    right:0;
}


