.commentBox{
    width:500px;
  
}

.comment-inner{
    position: relative;
    margin-bottom: 10px; 
     background-color: white;
     padding: 10px;
     border-radius: 2px;
}
.comment-inner::before,
.comment-inner::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 19px;
  border: 11px solid transparent;
  border-bottom-color: #dddddd;
}

.comment-inner::after {
  left: 20px;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
}
.user-date{
   display: flex;
  align-items: center;
}
.userName{
   margin-bottom: 15px;
   color: #dddddd;
}
.date{
    color: gray;
    font-size: 12px;
    margin-left: 10px;
}