.favourites {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    position: absolute;
    top: 70px;
    margin: 0 100px;
}

.favourite-item {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 200px;
    width: 500px;
    transition: transform 450ms;
    position: relative;
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: row;
   /*background-color: rgb(244, 233, 221);*/

}
.favourite-item:hover {
    transform:scale(1.08);
}

.favourite-item .img {
    width: 200px;
    height: 100%;
}

.favourite-item .top-image {
    /*position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
justify-content: center;*/
    margin: 10px;
 
}

.favourite-item .top-image .name,
.favourite-item .top-image .Category {


    /* color: white;
    text-shadow: 0 0 3px black;*/
    font-weight: bolder;
    font-size: 18px;
  
  
}