.Container {

    min-height: fit-content;
    top: 50px;
    position: relative;
    top: 0px;
}


.images-container {
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

}

.image-content {

    position: relative;
}


.delete-btn {
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: -10px;

}

.images-container .image {

    width: 250px;
    height: 150px;
    /*border:5px solid #fff;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;

}


.images-container .image img,.image img {
    width: 100%;

   /* object-fit: cover;*/
    box-shadow: 5px 5px 5px transparent;
    transition: all 0.5s;
    border: solid 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.767);
}

.images-container .image img:hover {
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.767);
    transform: scale(1.02);
    transition: all 0.5s;
}

.Container .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.Container .popup-image .img {
    z-index: 5;
    background: rgba(0, 0, 0, 0);
    height: 500px;
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    object-fit: cover;
}

.Container .popup-image .x-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    background: none;
}

.plus-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
}
.submit-btn{
    margin-left: 10px;
    background-color:transparent;
    box-shadow: 0px 0px 5px rgb(131, 131, 131);
    font-size: 15px;
    padding: 5px;
    height: 30px;
}
.add-content{
    display: flex;
    align-items: center;
    width: fit-content;

}
.active {
    animation: hover 1s ease-in-out forwards;
}

@keyframes hover {
    0% {
        transform: scale(1, 1);
    }

    1% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1.1, 1.1);
    }
}


@media screen and (max-width:900px) {
    .images-container .image {
        width: 150px;
        height: 100px;
        margin: 0;
        padding: 0;
    }

    .Container .popup-image .img {
        width: fit-content;

    }
 
    .Container .popup-image .img img  {
        width: 600px;
    }


    .images-container {
        width: 350px;
        flex-wrap: wrap;
        flex-direction: row;
     
    }
}