body {
    position: relative;
    height: 100%;
}

.home {
    display: flex;
    flex-direction: column;

}

.home .header .text {
    text-align: center;

}

.home .header .text h1 {
    color: aliceblue;
    text-shadow: 0 0 3px #7a7777;
    font-size: 90px;
}

/*.home .text h3 {
    color: aliceblue;
    text-shadow: 0 0 3px #7a7777;
    font-size: 50px;
}*/
 
.container {
    position: absolute;
    top: 700px;
    height: fit-content;
    width: 100%;

}

.coronaNews h1,
.historical-places h1 {
    position: absolute;
    top: 50px;
}

.destination {
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('./pexels-photo-4602279.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login .form {

    width: 450px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.05);
}
.login .form .link,.register .form .link {
    font-size: 23px;
    font-weight: 700;
    color: white;

    text-shadow: 1px 1px 1px black;
}
.login .form h1 {
    color: aliceblue;
    margin-bottom: 10px;

}

.login .form button {
    background-color: antiquewhite;
    padding: 10px 0px;
    border: none;
    border-radius: 3px;

    font-weight: 800;
    font-size: 25px;
    width: 300px;
    mix-blend-mode: screen;
}

.login .form button:hover {
    background-color: rgb(196, 177, 153);
}

.login .form #text1,.favourite .text {
    background-color: #ac2222;

    margin: 10px 0px;
    color: aliceblue;
    border-radius: 5px;
position:absolute;
top: 50px;
    text-align: center;
    padding: 10px;

}

.login .form #text1:empty {
    padding: 0;
}



.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('./pexels-photo-4602279.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.register .form {

    width: 450px;
    padding: 30px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.05);
}

.register .form h1 {
    color: aliceblue;
    margin-bottom: 10px;

}

.register .form button {
    background-color: antiquewhite;
    padding: 10px 0px;
    border: none;
    border-radius: 3px;
margin-bottom: 15px;
    font-weight: 800;
    font-size: 25px;
    width: 300px;
    mix-blend-mode: screen;
}

.register .form button:hover {
    background-color: rgb(196, 177, 153);
}

.coronaNews {
    display: flex;
    justify-content: center;
}

.coronaNews h1 {
    height: 500px;
    width: 400px;
}

.coronaNews {
    /*background: #f0ebe1;*/
    background:aliceblue;
    z-index: -1;
}

.coronaNews #text {
    /* margin: 80px 120px ;*/
    width: 75%;
    margin: 70px 0px;
    height: fit-content;
    padding-bottom: 20px;
    /*box-shadow: 0px 0px 20px 20px #aaaaaa;*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   
    background-color: aliceblue;
}

.coronaNews #text li {
    margin: 10px 30px;
}

.coronaNews #text h3 {
    margin: 10px;
    color: #ad2222;
}



.faq {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    align-items: center;

}

.faq h4 {
    font-size: 25px;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    position: absolute;
    top: 100px;
    margin-bottom: 10px;
}

.details img {
    width: 100%;
    height: 100%;


}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width:100%;
    /*background: linear-gradient(to bottom, #EADEDB, #EADEDB 50%, #FFFFFF 50%, #FFFFFF);*/

}


.details .city {
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   /* position: relative;
    text-align: center;*/


}

.details .city .navlink {
    position: absolute;
    top: 80px;
    left: 90px;

   
    padding: 10px;
    border-radius: 10px;

}

.details .city .navlink .link,
.details .city .navlink .symbol {
    color: #EADEDB;
    display: inline-block;
    cursor: pointer;

}


.details .city .navlink .link:hover {
    color: blue;
    text-decoration: underline;
}

.details .city img {

    position: absolute;
    top: 0;
    position: fixed;
    filter: brightness(60%);
    z-index: -1;
}

.details .city .city_name {
    text-shadow: 0 5px 10px rgb(0, 0, 0);
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 100px;

}

.details .city .title1 {
    text-shadow: 0 5px 10px rgb(0, 0, 0);
    position: absolute;
   
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.details .container1{
    display: flex;
    justify-content: center;
    margin: 0 50px;
    width:fit-content;
    background-color: #fff;
  
  
    flex-direction:row;
     position: relative;
     

}

.details .container1 .info {
    
    display: flex;
    align-items:flex-start;
    /*width:fit-content;*/
    width: 800px;
   position: relative;


}
.details .container1 .info .texts .text{
    width:100%;
}
.details .info .texts ,.details .container1 .info .propreties{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin:10px;
    padding: 20px;
    margin-bottom: 10px;
    height: 100%;
    position: absolute;
    top:50px;

}
.details .info .texts {
    position: relative;
    width:800px

}

.details .info .texts .edit-btn2{
    position: absolute;
    top:0;
    right: 0;
}
.details .info  .edit-btn3{
    position: absolute;
    top:60px;
    right: 60px;
}
.details .info .texts .textarea{
    width: 100%;
    height: 56px;
    padding: 14px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
    resize: none;

}
.details .info .textarea1{
   
    width: 300px;
    height: 56px;
    margin: 10px;
    padding: 14px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
    resize: none;
}

.details .container1 .info .propreties{
    background: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  height: fit-content;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

.details .container1  .right-detail{
    display: flex;
    justify-content: flex-end;
   align-items: flex-end;
flex-direction: column;
   /* row-gap: 20px;*/
  margin-left: 10px;
   height: 250px;
   

   
   
 
    
}


.details .add {
    position: absolute;
    top: 100px;
    right: 0;
    background: transparent;
    color: #fff;
    border: none;
}
.favourite{
    display: flex;
   justify-content: center;

}

@media screen and (max-width:800px){

    .details .city .title1 {
        
        font-size: 30px;
    }
    .details .info {
       
        /*width: 500px;*/
      flex-direction: column;
        
    
    }
    .details .container1 .right-detail{
        /*ustify-content: center;*/
    }
    
    .details .container1 .info {
        flex-direction:column;
       
       width:fit-content;
       margin: 0;
       
    }
    .details .texts{
        font-size: 15px;
        width:fit-content;
        margin-left: 8px;
    }
    .details .container1 .info .texts {
        width:350px;
    }
    .heart1-btn {
        position: absolute;
     top:0;
     left: 20px;
       
    }
   
.details .container1 .info .propreties{
    width: 200px;
}
    .details .container1{
        width: fit-content;
        margin: 0;
    }


}
.heart1 {
    color: black;
    opacity: 0.3;
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.heart1-activated {
    /*animation: heartbeat 1s infinite;*/
    fill: red;
    color: red;
    opacity: 1;
    width: 40px;
    height: 40px;

}

 .heart1-btn {
    background: none;
    width: 30px;
    height: 30px;
    border: none;
    margin:10px 10px 0 0;
 
   
}

.details .container1 .info .propreties{
    width: 450px;
}
.details .info .texts {
   
    width:500px

}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

   /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),url('./pexels-photo-4602279.jpeg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.profile .form{
    width: 450px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.05);
}
.profile .form button{
    background-color: antiquewhite;
    padding: 10px 0px;
    border: none;
    border-radius: 3px;

    font-weight: 00;
    font-size: 20px;
    width: 200px;
    mix-blend-mode: screen;
}
.PlaceToVisit .category-name{
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 55px 0 10px 0;
}
.PlaceToVisit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
