body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leaflet-container{
  height:600px;
  width:100%;
}
.details .place-images{
  position: absolute;
top:300px;
width:100%;
background-color: rgba(0,0,0,0.2);

}
.details .place-images img{
  width:200px;
  height:200px;
  margin:10px;
}
